body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    height: 40px;
    width: 40px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 50px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #333;
    margin: 4px 0;
    transition: 0.4s;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover,
nav ul li a.active {
    color: #007BFF;
}

section {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#home {
    background: linear-gradient(to right, #34bde3, #a6d7ea);
    color: #fff;
    text-align: center;
}

#home h1 {
    font-size: 2.5em;
}

#home h1 span {
    color: #007BFF;
}

#home .btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

#home .btn:hover {
    background-color: #0056b3;
}

section h2 {
    color: #007BFF;
    margin-bottom: 20px;
}

section h3 {
    margin-top: 20px;
    color: #0056b3;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

section ul li h3 {
    margin: 0;
    color: #007BFF;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header .container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
        display: none;
    }

    nav ul.active {
        display: flex;
    }

